<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceHostStem" value="local.ewebapi.com" />
    <add key="ServiceHostScheme" value="http" />
    <add key="ApplicationUserName" value="testservice.ps1" />
    <add key="ApplicationPassword" value="Pr!m@ry" />
  </appSettings>
</configuration>